{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
<title>Create a colection point</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="./styles/create-point.css">
<link rel="stylesheet" href="./styles/modal.css">
{% endblock styles %}

{% block content %}
{% include "partials/page-headers.html" %}

<form action="/savepoint" method="POST">
    <h1>Register a collection point</h1>

    <fieldset>
        <legend>
            <h2>Entity data</h2>
        </legend>

        <div class="field-group">
            <div class="field">
                <label for="name">Entity name</label>
                <input type="text" name="name" required>
            </div>
            <div class="field">
                <label for="name">Entity image</label>
                <input type="url" name="image" placeholder="http://" required>
            </div>
        </div>

        <div class="field-group">
            <div class="field">
                <label for="address">Address</label>
                <input type="text" name="address" required>
            </div>

            <div class="field">
                <label class="address2">Number</label>
                <input type="text" name="address2" required>
            </div>
        </div>

        <div class="field-group">
            <div class="field">
                <label class="state">State</label>
                <select name="uf" required>
                    <option value="">Select a state</option>
                </select>

                <input type="hidden" name="state">
            </div>

            <div class="field">
                <label class="city">City</label>
                <select name="city" disabled required>
                    <option value="">Select City</option>
                </select>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            <h2>Collection items</h2>
            <span>Select item/s</span>
        </legend>

        <div class="items-grid">
            <li data-id="Lampadas">
                <img src="/assets/lampadas.svg" alt="Lampadas">
                <span>Light bulbs</span>
            </li>

            <li data-id="Pilhas e baterias">
                <img src="/assets/baterias.svg" alt="Pilhas e baterias">
                <span>Batteries</span>
            </li>

            <li data-id="Papeis e Papelao">
                <img src="/assets/papeis-papelao.svg" alt="Papeis e Papelao">
                <span>Paper</span>
            </li>

            <li data-id="Residuos Eletronicos">
                <img src="/assets/eletronicos.svg" alt="Residuos Eletronicos">
                <span>Electronics</span>
            </li>

            <li data-id="Residuos Organicos">
                <img src="/assets/organicos.svg" alt="Residuos Organicos">
                <span>Organics</span>
            </li>

            <li data-id="Oleo de Cozinha">
                <img src="/assets/oleo.svg" alt="Oleo de Cozinha">
                <span>Oil</span>
            </li>
        </div>

        <input type="hidden" name="items">

    </fieldset>

    <button type="submit">Register Collection Point</button>

</form>

{% endblock content %}

{% block modal %}
{% if saved %}
{%include "partials/point-created.html" %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/scripts/create-point.js"></script>
{% endblock scripts %}
