<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Collection point</h1>
            <a href="#">Close</a>
        </div>
        <form action="/search">
            <label for="search">City</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por Cidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>
